.title {
  margin-top: 30px;
  margin-bottom: 30px;

  h2 {
    text-align: center;

    @media screen and (max-width: 768px) {
      font-size: 17px;
    }
  }
  .line {
    position: relative;
    height: 5px;
    width: 110px;
    background: #f2c43d;
    margin-top: 10px;
    left: 40%;

    @media screen and (max-width: 768px) {
      left: 40%;
      width: 50px;
    }
  }
}
