.header {
  display: flex;
  align-items: center;
  padding: 0 80px;
  height: 100vh;
  background: url("../../assets/images/hugues_Eyong_header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .header-content {
    max-width: 600px;
    color: #fff;

    h1 {
      font-size: 35px;
      font-weight: 700;
    }

    h2 {
      font-size: 28px;
      margin-top: 10px;
      color: #ff1616;

      span {
        color: #f2c43d;
      }
    }

    p {
      text-align: justify;
      margin-bottom: 20px;
      margin-top: 20px;
      line-height: 20px;
      font-size: 17px;
    }
    .btn-group {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      a {
        position: relative;
        width: calc(50% - 5px);
        padding: 12px;
        border-radius: 8px;
        border: 2px solid #fff;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        z-index: 1;
        overflow: hidden;
        transition: all 0.5s ease;
        text-align: center;

        .icon {
          margin-right: 5px;
        }
      }
      .voir {
        background: #fff;
        color: #0b0b2d;
      }

      a:nth-child(2) {
        background: none;
        color: #fff;
      }

      a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        // background: #00abf0;
        z-index: -1;
        transition: all 0.5s ease;
      }

      a.voir::before {
        background: #0b0b2d;
      }
      a.download::before {
        background: #fff;
      }

      a.voir:hover {
        color: #fff;
      }
      a.download:hover {
        color: #0b0b2d;
      }

      a:hover::before {
        width: 100%;
      }
    }
  }
}
