//scss du button voir plus
.card-btn {
  position: relative;
  text-align: center;
  color: #fff;
  background: #0b0b2d;
  border: 2px solid #0b0b2d;
  padding: 12px 30px;
  margin: 5% 25%;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  //   font-family: "Roboto", sans-serif;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease;

  @media screen and (max-width: 768px) {
    padding: 10px 20px;
    font-size: 14px;
    margin: 5% 10%;
  }
  @media screen and (max-width: 576px) {
    margin: 5% 0;
  }

  .icon {
    margin-right: 5px;
    font-size: 17px;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}
.card-btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background: #fff;
  transition: all 0.5s ease;
}
.card-btn:hover::before {
  width: 100%;
}
.card-btn:hover {
  color: #0b0b2d;
}

//btn categorie
.btn-categorie {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;

  button {
    padding: 12px 30px;
    color: #1569d4;
    // background: #6363f3;
    border: 2px solid #1569d4;
    margin-right: 30px;
    border-radius: 9px;
    // border: 0;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s ease;

    @media screen and (max-width: 768px) {
      padding: 8px 20px;
      font-size: 14px;
      margin-top: 10px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 10px;
    }
  }

  button::before {
    content: "";
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #1569d4;
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease;
  }
  button:hover {
    color: #fff;
  }
  button:hover::before {
    width: 100%;
  }
}
