.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .user-info {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      border-radius: 50%;

      @media screen and (max-width: 768px) {
        width: 30px;
      }
    }
    span {
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
      @media screen and (max-width: 576px) {
        font-size: 12px;
        display: none;
      }
    }
  }
  .info-rx {
    display: flex;
    gap: 20px;

    .icon {
      position: relative;
      font-size: 18px;
      color: #0b0b2d;
      border: 2px solid #0b0b2d;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      overflow: hidden;
      width: 40px;
      height: 40px;
      z-index: 1;
      display: flex;
      align-items: center;
      transition: all 0.5s ease;

      @media screen and (max-width: 768px) {
        font-size: 14px;
        width: 30px;
        height: 30px;
        padding: 8px;
        border: 1px solid #0b0b2d;
      }
    }
    .icon::before {
      content: "";
      position: absolute;
      background: #0b0b2d;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      z-index: -1;
      transition: all 0.5s ease;
    }
    .icon:hover::before {
      width: 100%;
    }
    .icon:hover {
      color: #fff;
    }
  }
}
