.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .user-info {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      border-radius: 50%;
    }
  }
  .info-rx {
    display: flex;
    gap: 20px;

    .icon {
      font-size: 18px;
      color: #0b0b2d;
      border: 2px solid #0b0b2d;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
